body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo,.todos-title{
	width: 290px;
	margin: 0 auto;
	background: #ececec;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;
}
.todos-title{
	font-weight: 700;
	padding: 10px 0;
	justify-content: center;
	user-select: none;
}
.hidden-todos-wrapper .todos-title{
	background: rgb(255, 157, 139);
}
.turned-on{
	background: rgb(203, 252, 130) !important;
}
.todos-wrapper, .hidden-todos-wrapper{
	display: inline-flex;
	flex-direction: column;
	padding: 0 8px;
}
.all-todos-wrapper{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 15px 0 0 0;
}
/*  */
.like{
	margin-left: auto;
	padding-right: 6px;
}
.hide{
	padding-right: 6px;
	transform: scale(0.9);
}
.hidden-todos{
	display: none;
}
.todos-num{
	border: 2px solid;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-indent: -2px;
	margin-left: 10px;
	padding-bottom: 2px;
	pointer-events: none;
}
button{
	margin-left: 20px;
	padding: 0 20px;
	height: 36px;
}
.input__text{
	height: 30px;
}
.add-todo{
	margin: 15px;
}
/* cursor pointer */
/* todo .todos-title:not(:first-child) */
button,.todos-title,.like, .hide{
	cursor: pointer;
}