@import url("./media.css");

/* todo more vars */
:root{
	--input-width: 290px;
	--done: #84db00;
	--liked: orange;
	--hidden: tomato;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo,.todos-title{
	width: 400px;
	margin: 0 auto;
	background: #ececec;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;
}
.todo__text{
	margin-right: auto;
}
.todos-title{
	position: relative;
	font-weight: 700;
	padding: 10px 0;
	justify-content: center;
	user-select: none;
}
.hidden-todos-wrapper .todos-title{
	background: #ffe6e0;
}
.turned-on{
	background: #d8ffc1 !important;
}
.todos-wrapper, .hidden-todos-wrapper{
	display: inline-flex;
	flex-direction: column;
	padding: 0 8px;
}
.all-todos-wrapper{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 15px 0 0 0;
}
/*  */
.like{
	margin-left: auto;
	padding-right: 6px;
}
.hide{
	padding-right: 6px;
	transform: scale(0.9);
}
.hidden-todos{
	display: none;
}
.todos-num,.todos-num_hidden{
	border: 2px solid;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-indent: -2px;
	margin-left: 10px;
	padding-bottom: 2px;
	pointer-events: none;
}
.todos-num_hidden,.hidden{
	color: var(--hidden);
}
.todos-num_liked,.liked{
	color: var(--liked);
}
.todos-num_done,.done{
	color: var(--done);
}
.hidden,
.liked,
.done{
	pointer-events:none;
}
button{
	padding: 0 20px;
	height: 36px;
	background: none;
	border-radius: 8px;
	outline: none;
	border: 2px solid #000;
}
.input__text{
	height: 30px;
	width: var(--input-width);
	display: block;
	margin: 0 auto;
	text-indent: 2px;
}
.add-todo{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	padding: 20px 0;
}
.add-todo, .chosen-day{
	background-color: #567594;
background-image: linear-gradient(62deg, #567594 0%, #E0C3FC 100%);
}
.add-todo__buttons{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: var(--input-width);
	margin: 15px auto 0;
}
/* cursor pointer */
/* todo .todos-title:not(:first-child) */
button,.todos-title,.like, .hide{
	cursor: pointer;
}
.one-day-todos{
	font-style: italic;
	border-left: 5px solid #d9b0ff;
	border-top: 2px solid #f8f1ff;
	border-bottom: 2px solid #f8f1ff;
	margin-left: 2px;
	margin-bottom: 15px;
	padding: 8px 0;
}
/* DATE */
.date,.date_today{
	font-weight: 700;
	padding-left: 8px;
}
/* MOVE */
.move-down{
	transform: rotate(90deg);
	height: 19px;
	/* rotated */
	padding-top: 6px;
}
.move-up{
	transform: rotate(-90deg);
	height: 19px;
	/* rotated */
	padding-bottom: 6px;
}
.dn{
	display: none;
}
/* ! .one-day-todos__top */
.one-day-todos__top{
	display: flex;
	align-items: center;
}
.todos-nums{
	display: flex;
	padding-left: 10px;
}
.add-todo .todos-nums{
	padding: 0;
}
.add-todo-nums{
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
.section-minimized{
	height: 40px;
	overflow: hidden;
}
.section-minimized .view-arrow{
	transform: rotate(180deg);
}
/* todo arrow classes */
.view-arrow, .action-arrow, .week-arrow{
	width: 30px;
	margin-left: auto;
	margin-right: 8px;
}
.action-arrow{
	position: absolute;
	right: 8px;
	pointer-events: none;
}
.week-arrow{
	margin: 0;
}
.week-arrow_prev{
	transform: rotate(90deg);
}
.week-arrow_next{
	transform: rotate(270deg);
}
.changeWeek{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
	width: 200px;
	margin: 0 auto 15px;
}
.turned-on .action-arrow{
	transform: rotate(180deg);
}

.get-todo-date{
	margin-left: 8px;
}