@import url("./media.css");

/* todo more vars */
:root{
	--input-width: 290px;
	--done: #97f50a;
	--doing: orange;
	--canceled: tomato;
	/* todo lighten or connect sass */
	--done-light:#daffa7;
	--doing-light:rgb(255, 228, 179);
	--canceled-light:rgb(255, 202, 193);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo,.todos-title{
	position: relative;
	width: 400px;
	margin: 0 auto;
	background: #ffffff;
	box-shadow:  2px 2px 6px #d9d9d9, -2px -2px 6px #ffffff;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;
}
.todo__date{
	font-weight: 700;
	margin-right: 4px;
}
.todo__text{
	margin-right: auto;
	word-break: break-word;
}
.todos-title{
	position: relative;
	font-weight: 700;
	padding: 10px 0;
	justify-content: center;
	user-select: none;
	border: 2px solid #727272;
	border-radius: 50px;
}
.turned-on{
	/* background: #d8ffc1 !important; */
	border: 1px solid #727272 !important;
}
.todos-wrapper{
	display: inline-flex;
	flex-direction: column;
	padding: 0 8px;
}
.all-todos-wrapper{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 15px 0 0 0;
}
/*  */
.like, .hide, .del{
	margin: 2px;

}
.actions{
	position: absolute;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	right: 30px;
	background: #fff;
	padding: 4px 2px;
	border-radius: 8px;
	width: 80px;
	box-shadow: 2px 2px 6px #d9d9d9, -2px -2px 6px #ffffff;
}
.dots{
	padding-right: 8px;
}
.hidden-todos{
	display: none;
}
.todos-num,.todos-num_canceled{
	border: 2px solid;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-indent: -2px;
	margin-left: 10px;
	padding-bottom: 2px;
	pointer-events: none;
}
.todos-num_canceled,.canceled{
	color: var(--canceled);
}
.todos-num_doing,.doing{
	color: var(--doing);
}
.todos-num_done,.done{
	color: var(--done);
}
.canceled,
.doing,
.done{
	pointer-events:none;
}
button{
	padding: 0 20px;
	height: 36px;
	background: none;
	border-radius: 8px;
	outline: none;
	border: 2px solid #000;
	font-weight: 700;
	border-radius: 50px;
}
.danger-button{
	border: 2px solid var(--canceled);
	color: var(--canceled);
}
.input__text{
	height: 30px;
	width: var(--input-width);
	display: block;
	margin: 15px auto 0;
	text-indent: 2px;
}
.add-todo {
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	padding: 22px 0 0;
	text-align: center;
}
.add-todo{
	background: #fff;
	left: 10px;
	border-left: 2px solid #000;
}
.chosen-day{
	/* background: #f3fcff; */
}
.buttons{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: var(--input-width);
	margin: 15px auto;
}
.add-todo__date{
	width: var(--input-width);
	height: 30px;
	margin: 0 auto;
	font-family: Montserrat;
	line-height: 1.5;
	font-size: 18px;
	font-weight: 300;
}
/* cursor pointer */
/* todo .todos-title:not(:first-child) */
button,.todos-title,.like, .hide{
	cursor: pointer;
}
.one-day-todos{
	font-style: italic;
	border-top: 2px solid #f8f1ff;
	border-bottom: 2px solid #f8f1ff;
	margin-left: 2px;
	margin-bottom: 15px;
	padding: 8px 0;
}
/* DATE */
.date,.date_today{
	font-weight: 700;
	padding-left: 8px;
}
/* MOVE */
.move-down{
	transform: rotate(90deg);
	height: 19px;
	/* rotated */
	padding-top: 6px;
}
.move-up{
	transform: rotate(-90deg);
	height: 19px;
	/* rotated */
	padding-bottom: 6px;
}
.dn{
	display: none;
}
/* ! .one-day-todos__top */
.one-day-todos__top{
	display: flex;
	align-items: center;
}
.todos-nums{
	display: flex;
	padding-left: 10px;
}
.add-todo .todos-nums{
	padding: 0;
}
.add-todo-nums{
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
.section-minimized{
	height: 40px;
	overflow: hidden;
}
.view-arrow{
	transform: rotate(180deg);
}
.section-minimized .view-arrow{
	transform: rotate(0deg);
}
/* todo arrow classes */
.arrow{
	width: 30px;
}
.view-arrow, .action-arrow, .week-arrow{
	margin-left: auto;
	margin-right: 8px;
}
.action-arrow{
	position: absolute;
	right: 8px;
	pointer-events: none;
}
.week-arrow{
	margin: 0;
}
.week-arrow_prev{
	transform: rotate(90deg);
}
.week-arrow_next{
	transform: rotate(270deg);
}
.changeWeek{
	position: relative;
	z-index: 3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
	width: 200px;
	margin: 22px auto 15px;
}
.turned-on .action-arrow{
	transform: rotate(180deg);
}

.get-todo-date{
	margin-left: 8px;
}
/* ! pick-color */
.pick-color{
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--input-width);
	margin: 0 auto;
}
.task{
	width: 180px;
	background: none;
	border: none;
	border-bottom: 1px solid;
	outline: none;
	height: 30px;
	font-size: 20px;
	font-style: italic;
	font-family: Montserrat;
	font-weight: 300;
}
[type="color"]{
	border: 0px solid;
	background: none;
	height: 40px;
	width: 80px;
	flex-shrink: 0;
}
/* ! tutorial */
.tutorial-on{
	position: absolute;
	right: 20%;
	top: 30%;
	display: inline-block;
	width: 24px;
	height: 24px;
	border: 1px solid;
	border-radius: 50%;
}
.tutorial-wrap{
	height: 100vh;
	width: 100vw;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
}
.tutorial{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 80vh;
}
/* ? tutorial */
.my-tasks{
	text-align: center;
	font-weight: 500;
	font-size: 18px;
	margin: 35px 0 0px;
}
.delete-tasks{
	margin-left: 10px;
	text-decoration: underline;
	font-weight: 700;
}
.add-task{
	display: block;
	margin: 10px auto 0;
}
.tasks{
	max-height: 45vh;
	overflow-y: auto;
	max-width: calc(var(--input-width) + 30px);
	margin: 0 auto;
}
/* ! scrollbar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background: #b6b6b6;
	border-radius: 20px;
}
::-webkit-scrollbar-track {
	background: #fff;
	border-radius: 20px;
}
/* Burger */
#burger__toggle {
	opacity: 0;
	position: absolute;
 }
 #burger__toggle:checked + .burger__btn > span {
	transform: rotate(45deg);
 }
 #burger__toggle:checked + .burger__btn > span::before {
	top: 0;
	transform: rotate(0deg);
 }
 #burger__toggle:checked + .burger__btn > span::after {
	top: 0;
	transform: rotate(90deg);
 }
 #burger__toggle:checked ~ .burger__box {
	left: 0 !important;
 }
 .burger__btn {
	position: fixed;
	top: 35px;
	left: 15px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 5;
 }
 .burger__btn > span,
 .burger__btn > span::before,
 .burger__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background: #616161;
	transition-duration: 0.25s;
 }
 .burger__btn > span::before {
	content: "";
	top: -8px;
 }
 .burger__btn > span::after {
	content: "";
	top: 8px;
 }
 /* ! checkbox */
 [type="checkbox"] {
	min-width: 20px;
	min-height: 20px;
 }
 /* ! popup */
.popup__bg{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.95);
	z-index: 8;
 }
 .popup, .confirm, .prompt{
	position: fixed;
	z-index: 9;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%);
	min-width: var(--input-width);
	display: flex;
	align-items: center;
	height: 60px;
	border-radius: 8px;
	background: #fff;
	border: 2px solid #29a6ff;
 }
 .popup__img{
	margin-left: 4px;
 }
 .popup__title, .popup__text{
	margin-left: 5px;
 }
 .popup__title{
	font-weight: 700;
 }
 .popup__text{
	max-width: 180px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-style: italic;
 }
 .popup__hide{
	width: 20px;
	position: absolute;
	top: 4px;
	right: 4px;
 }
 /* ! confirm */
 .confirm, .prompt{
	width: 50vw;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	height: 200px;	
	flex-direction: column;
	justify-content: space-evenly;
 }
 .confirm__buttons{
	width: var(--input-width);
	display: flex;
	justify-content: space-evenly;
 }
 .confirm .popup__title{
	margin: 0;
 }
 /* ! prompt */
 .prompt{
	height: 300px;
 }
 .prompt [name="edit"]{
	height: 190px;
	min-width: calc(var(--input-width) - 30px);
	width: calc(50vw - 30px);
	resize: none;
 }
/* ! menu-item */
.menu__title{
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
 }
 /* ! search */
 .search__bg{
	position: absolute;
	z-index: 2;
	top: 0px;
	left: -10px;
	pointer-events: none;
	height: 100%;
	width: 100%;
	border-right: 2px solid #000;
 }
 .search{
	position: relative;
	padding: 95px 0 0 0;
	min-height: 100vh;
 }
 .search__icon {
	position: fixed;
	z-index: 2;
	top: 16px;
	right: 10px;
	width: 38px;
}
.search__icon_del{
	transform: scale(.75);
}
.search__title{
	position: fixed;
	z-index: 2;
	top: 22px;
	width: 100%;
	font-size: 20px;
	margin-bottom: 40px;
	text-align: center;
}
[name="status"], [name="task"], [name="text"] {
	display: block;
	margin: 0 auto;
	padding: 5px;
	border-radius: 4px;
	font-size: 16px;
	margin-bottom: 10px;
	width: 200px;
}
[name="status"], [name="task"]{
	width: 214px;
}
[name="text"]{
	border: 1px solid;
	text-indent: 4px;
}
/* ! moveDate, moveTask */
[name="moveDate"],[name="moveTask"]{
	border: 2px solid;
	border-radius: 8px;
	height: 26px;
	margin: 2px;
}
/* ! search-tag */
.search-tag{
	border: 1px solid;
	border-radius: 8px;
	padding: 4px 6px;
	display: inline-flex;
	align-items: center;
	margin: 5px 0 0 5px;
}
.search-tag_del{
	width: 20px;
	padding: 0px 0px 1px 10px;
}
.search-tag__title{
	font-style: italic;
}
.search-tag__text{
	padding-left: 6px;
	font-weight: 700;
}
.search-tags {
    margin: 0 auto 30px auto;
    width: var(--input-width);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.add-todo-task{
	position: absolute;
	top: -4px;
	right: 5px;
}
.task-wrap{
	position: relative;
	width: calc(var(--input-width) + 30px);
	margin: 0 auto;
}
/* ! scroll */
.scroll{
	position: fixed;
	bottom: 12px;
	right: 12px;
	transform: rotate(180deg);
	background: #fff;
	border-radius: 50%;
	padding: 4px;
}
.borderdone, .borderdoing, .bordercanceled, .borderall{
	margin-right: 12px;
	border-left: 5px solid var(--done-light);
}
.borderdoing{
	border-left: 5px solid var(--doing-light);
}
.bordercanceled{
	border-left: 5px solid var(--canceled-light);
}
.borderall{
	border-left: 5px solid #f1f1f1;
}
.top-icons-bg{
	position: fixed;
	z-index: 2;
	top: 0px;
	left: 0px;
	height: 70px;
	width: 100%;
	background: #fff;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.todo__bg{
	position: absolute;
	top: 0;
	left: -10px;
	height: 115%;
	width: 5px;
}
.doing-bg{
	background: var(--doing) ;
}
.done-bg{
	background: var(--done) ;
}
.canceled-bg{
	background: var(--canceled) ;	
}
.no-bg{
	background: #b6b6b6;
}