/* ! MEDIA */
@media(max-width:1681px) {
	.todo,.todos-title{
		width: 50vw !important;
	}
}
@media(max-width:768px) {
	.todo,.todos-title{
		width: 80vw !important;
	}
}
@media(max-width:600px) {
	.todo,.todos-title{
		width: 90vw !important;
	}
	.todos-nums{
		padding-left: 4px !important;
	}
	.one-day-todos__top .todos-num{
		margin-left: 6px;
}
}
@media(max-width:450px) {
	.scroll{
		right: 8% !important;
	}
}
@media(max-width:359px) {
	.arrow_day{
		width: 20px !important;
	}
}
/* ? MEDIA */